

body, html {

    margin:30px;
   
 }

.container-fluid{
    font-size: 50px;
    color: black;
    font-family: 'Cumbria', sans-serif; 
    text-align: center;
    text-shadow: 1px 1px 11px rgba(150, 80, 15, 1);
    width: 300px;
    height: 200px;

}

.hero{
    font-size: 40px;
    color: black;
    font-family: 'Cumbria', sans-serif; 
    text-align: center;
    text-shadow: 1px 1px 11px rgba(150, 80, 15, 1);
    background: linear-gradient(-45deg, #ff5733, #ff9900, #ff5733);
    border-radius: 20px;
    align-items: center;
    
    

}

.add-button button {
    color:white;
    border-radius: 5px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    background: red;
    padding: 5px 10px;
}

.word {

    font-size: 20px;
    text-align: center;
    padding: 0 10px;
    border-radius: 20px;
    

}
.word a {
    font-weight: bold;
    text-decoration: none;
    color: black;   
    background: linear-gradient(-45deg, #ff5733, #ff9900, #ff5733);
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    padding: 5px 20px;
